body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #657;
    font-size: 120%;
    background-size: contain;
}
.card {
    background-image: url('https://source.unsplash.com/1600x900/?travel');
    background-size: contain;
    opacity : 1;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
}
.weather .city{
   font-weight :800;
}
h1.temp{
    margin: 0;
}
.search{
    color : purple;
    font-weight : bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}
.details{
 display : flex;
 flex-direction: row;
 gap : 1em;
 justify-content : center;
 align-items :center;
 flex-grow: 1;
}
.details > *{
    flex-basis:1;
    
}
.details{
    font-weight: bolder;
    font-size: larger;
}
.search .search-bar{
    color : black;
    font-weight : bold;
}
